spring:
  application:
    name: service-b
  profiles:
    active: "dev"
  cloud:
    consul:
      discovery:
        instanceId: "${spring.application.name}-${server.port}-${spring.cloud.client.ip-address}"
        prefer-ip-address: true
        health-check-critical-timeout: "1m"

server:
  port : 8080

---

spring:
  profiles: dev

server:
  port : 8082

---

spring:
  profiles: prod
  